/* CSS for P3eXBlock */

.p3exblock_block {
	border: solid;
	border-color: #F9359D;
	border-style: inset;
	border-width: 10px;
	border-right-color: white;
	border-bottom-color: white;
	
}

.phase {
	margin-left: 50px;
}

.phase-title {
	text-align: center;
}

.question_block {
	margin: 50px 0px;
	border-style: outset;
	border-width: 10px;
	border-color: #00CED1;
		border-left-color: white;
	border-top-color: white;
}

.grade {
	margin-top: 10px;
}

input[type="number"] {
	width: 60px;
	display: inline;
}
input[type="submit"] {
	margin-bottom: 20px;
}

textarea {
	display: block;
}