<div class="p3exblock_block">
	<!-- <form method="post" enctype=multipart/form-data class="phase"> -->
	<div class="phase">
		<h2 class="phase-title">Phase 1 : Répondre</h2>
		% for q in data:
			<div class="question_block">
				<h4>Question n° ${loop.index + 1} </h4>
				<p> ${q} </p>
				<textarea id="r${loop.index + 1}" rows="6" cols="80"></textarea>
				<p class="grade">Note : 
					<input id="note_saver${loop.index + 1}" class="form-control" size="2" min="0" max="5" type="number" value="" />
				</p>
			</div>
		% endfor
		<input id="btn_valid1" class="btn btn-default btn-lg" type="submit" value="Phase suivante" />
	</div>
</div>
