<div class="p3exblock_block">
	<div class="phase">
		<h2 class="phase-title">Second step : Ask</h2>
			<div class="question_block">
				<h4>Submit your question :</h4>
				<textarea id="q" rows="6" cols="80"></textarea>
			<br>
			<br>
			
			</div>
			<div class="question_block">
				<h4>Give the answer of your question :</h4>
				<textarea id="r" rows="6" cols="80"></textarea>
			<br>
			<br>

			</div>
			<br>
			<br>
		<input id="btn_valid" class="btn btn-default btn-lg" type="submit" value="Phase suivante" />
	</div>
</div>